.title {
  width: fit-content;
  margin: auto;
}

.back {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 1.2rem;
  margin-top: 0.35rem;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
